*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*configuracion de imagen de fondo del header*/
header {
	width: 100%;
	height: 950px;
	background-image: url(img/header.png);
	/*background-attachment: fixed;*/
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	color:#FFFFFFFF;
	text-align: center;
	/*background-color: black;*/
}

a:hover {
	color: #B80CA0 !important;
}
/*color beige de fondo de la página entera*/
body {
	/*background-color: #141B2E !important;*/
	background-color: beige !important;
}

/*color morado de los section*/
.seccion-color {
	background-color: #343AC7;
}

/*separador de section (qué hacemos)*/
.separador {
  border-top: 8px solid #B80CA0;
  border-radius: 5px;
}

/*redondeo de boton y color de boton*/
.boton-contacto {
	border-radius: 30px !important;
	background-color: #343AC7 !important;
}

/*separador fuccia de los titulos*/
.h-divisor {
	border-width: 0.40rem;
	border-color: #B80CA0;
}

/*esquinero de esquina izquierda*/
.esquinero1 {
	background-repeat: no-repeat;
	background-size: cover;
	width: 170px;
	top: 0;
	left: 0;
	overflow: hidden;
}

/*esquinero de esquina derecha*/
.esquinero2 {
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

/*media query para futuro posible uso :V */
/*@media (min-width: 1px) and (max-width: 376px){

}*/

/*z-index para todo uso*/
.zeta {
	z-index: 2 !important;
}

/*configuración de fondo de footer*/
footer {
	width: 100%;
	height: 950px;
	background-image: url(img/footerfinal2.png);
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	text-align: center;
}